.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .options {
    display: flex;
    column-gap: 30px;
    align-items: center;

    .option {
      cursor: pointer;
    }
  }
}
